<!-- Main navigation -->
<header class="header-nav" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <div id="inner-header">

        <!-- logo -->
<!--         <h1 id="logo" class="text-hide h1 pull-left" itemscope itemtype="http://schema.org/Organization">
            <a href="#/" rel="nofollow"><img src="" alt=""></a>
        </h1>
 -->

        <!-- nav -->
        <nav role="navigation" class="text-center" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <ul class="">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/playlist">Playlist</a></li>
<!--                 <li><a href="#/setup">Setup</a></li>
                <li><a href="#/contact">Contact</a></li>
                <li><a href="#/callback">callback</a></li> -->
            </ul>
        </nav>
    </div>
</header>