<!-- playlist -->
<div class="player-container" ng-repeat="sound in playlistSource" data-ng-if="!trackSearched">
    <div class="row" data-ng-if="!sound.hasOwnProperty('key')">
        <div class="col-sm-1">
            {{$index + 1 }}
        </div>
        <div class="col-sm-23">
            <a href="" data-ng-click="playSound(sound, 'sc')">{{sound.origin.user.username}}: {{sound.origin.title}}</a>
        </div>
    </div>

    <div class="row" data-ng-if="sound.hasOwnProperty('key')">
        <div class="col-sm-1">
            {{$index + 1 }}
        </div>
        <div class="col-sm-23">
            <a href="" data-ng-click="playSound(sound, 'mc')">{{sound.from.username}} - {{sound.cloudcasts[0].name}}</a>
        </div>
    </div>
</div>