<!-- soundcloud mixes -->
<player player-source="main.playSCurl" data-ng-if="main.playSC"></player>

<!-- mixcloud mixes -->
<div data-ng-if="main.playMC">
    <iframe id="mc-widget"
            width="100%"
            height="133"
            scrolling="no"
            frameborder="no"
            src="{{main.playMCurl}}">
    </iframe>
</div>

<!-- main stream -->
<div class="player-container" ng-repeat="sound in main.mainFeed | orderBy:'created_time':true" data-ng-if="!main.trackSearched">
    <div class="row" data-ng-if="!sound.hasOwnProperty('key')">
        <div class="col-sm-1">
            {{$index + 1 }}
        </div>
        <div class="col-sm-23">
            <a href="" data-ng-click="main.playSound(sound, 'sc')">{{sound.origin.user.username}}: {{sound.origin.title}}</a>
        </div>
    </div>

    <div class="row" data-ng-if="sound.hasOwnProperty('key')">
        <div class="col-sm-1">
            {{$index + 1 }}
        </div>
        <div class="col-sm-23">
            <a href="" data-ng-click="main.playSound(sound, 'mc')">{{sound.from.username}} - {{sound.cloudcasts[0].name}}</a>
        </div>
    </div>
</div>

<!-- search results -->
<ng-include src="'views/search-results.html'" data-ng-if="main.trackSearched"></ng-include>