<!-- soundcloud mixes -->
<player player-source="main.playSCurl" data-ng-if="main.playSC"></player>

<!-- mixcloud mixes -->
<div data-ng-if="main.playMC">
    <iframe id="mc-widget"
            width="100%"
            height="133"
            frameborder="0"
            ng-src="{{main.playMCurl}}">
    </iframe>
</div>

<!-- local files audio player -->
<audio ng-src="{{main.audioFileName | trustThisUrl}}"
       audioplayer
       controls
       data-ng-if="main.audioFileName"></audio>

<!-- main stream -->
<div class="player-container" ng-repeat="sound in main.mainFeed" data-ng-if="!main.trackSearched">
    <div class="row" data-ng-if="!sound.hasOwnProperty('key')">
        <div class="col-sm-1">
            {{$index + 1 }}
        </div>
        <div class="col-sm-23">
            <a href="" data-ng-click="main.playSound(sound, 'sc')">{{sound.origin.user.username}}: {{sound.origin.title}}</a>
        </div>
    </div>

    <div class="row" data-ng-if="sound.hasOwnProperty('key')">
        <div class="col-sm-1">
            {{$index + 1 }}
        </div>
        <div class="col-sm-23">
            <a href="" data-ng-click="main.playSound(sound, 'mc')">{{sound.from.username}} - {{sound.cloudcasts[0].name}}</a>
        </div>
    </div>
</div>

<!-- search results -->
<ng-include src="'views/search-results.html'" data-ng-if="main.trackSearched"></ng-include>

<button data-ng-click="main.fetchUserDashboard(true, 5, 6)">Load more tracks...</button>
<button data-ng-click="main.openAudioFile()">Add audio file</button>